<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-Libraries-&amp;-Load-Data" data-toc-modified-id="Import-Libraries-&amp;-Load-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import Libraries &amp; Load Data</a></span><ul class="toc-item"><li><span><a href="#Import-Libraries" data-toc-modified-id="Import-Libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import Libraries</a></span></li><li><span><a href="#Load-Data" data-toc-modified-id="Load-Data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Load Data</a></span></li></ul></li><li><span><a href="#Basic-data-set-information-analysis" data-toc-modified-id="Basic-data-set-information-analysis-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Basic data set information analysis</a></span><ul class="toc-item"><li><span><a href="#train_plans-data-set" data-toc-modified-id="train_plans-data-set-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>train_plans data set</a></span><ul class="toc-item"><li><span><a href="#Basic-information" data-toc-modified-id="Basic-information-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>Basic information</a></span></li><li><span><a href="#Missing-data-analysis" data-toc-modified-id="Missing-data-analysis-2.1.2"><span class="toc-item-num">2.1.2&nbsp;&nbsp;</span>Missing data analysis</a></span></li><li><span><a href="#Nunique-of-each-feature" data-toc-modified-id="Nunique-of-each-feature-2.1.3"><span class="toc-item-num">2.1.3&nbsp;&nbsp;</span>Nunique of each feature</a></span></li></ul></li><li><span><a href="#train_queries-data-set" data-toc-modified-id="train_queries-data-set-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>train_queries data set</a></span><ul class="toc-item"><li><span><a href="#Basic-information" data-toc-modified-id="Basic-information-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Basic information</a></span></li><li><span><a href="#Missing-data-analysis" data-toc-modified-id="Missing-data-analysis-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Missing data analysis</a></span></li><li><span><a href="#Nunique-of-each-feature" data-toc-modified-id="Nunique-of-each-feature-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Nunique of each feature</a></span></li></ul></li><li><span><a href="#train_clicks-data-set" data-toc-modified-id="train_clicks-data-set-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>train_clicks data set</a></span><ul class="toc-item"><li><span><a href="#Basic-information" data-toc-modified-id="Basic-information-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Basic information</a></span></li><li><span><a href="#Missing-data-analysis" data-toc-modified-id="Missing-data-analysis-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Missing data analysis</a></span></li><li><span><a href="#Nunique-of-each-feature" data-toc-modified-id="Nunique-of-each-feature-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>Nunique of each feature</a></span></li></ul></li><li><span><a href="#profiles-data-set" data-toc-modified-id="profiles-data-set-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>profiles data set</a></span><ul class="toc-item"><li><span><a href="#Basic-information" data-toc-modified-id="Basic-information-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Basic information</a></span></li><li><span><a href="#Missing-data-analysis" data-toc-modified-id="Missing-data-analysis-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>Missing data analysis</a></span></li><li><span><a href="#Nunique-of-each-feature" data-toc-modified-id="Nunique-of-each-feature-2.4.3"><span class="toc-item-num">2.4.3&nbsp;&nbsp;</span>Nunique of each feature</a></span></li></ul></li></ul></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></div>

# Import Libraries & Load Data
##  Import Libraries

In [1]:
import numpy as np
import pandas as pd
import os 
from tqdm import tqdm_notebook
from sklearn.preprocessing import StandardScaler
from sklearn.svm import NuSVR, SVR
from sklearn.metrics import mean_absolute_error
import lightgbm as lgb
import xgboost as xgb
import time
import datetime 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold, KFold, RepeatedKFold
from sklearn.metrics import mean_absolute_error
from sklearn.linear_model import LinearRegression
import gc

from scipy.signal import hilbert
from scipy.signal import hann
from scipy.signal import convolve
from scipy import stats
from sklearn.kernel_ridge import KernelRidge
 
from collections import Counter 
from statistics import mode 
    
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

from tqdm import tqdm
import json 
from sklearn.metrics import f1_score
from sklearn.model_selection import StratifiedKFold
from itertools import product
import ast 
tqdm.pandas()

## Load Data

In [2]:
path = '/data/Data_JieZhang/KDD/Phase2/'

train_queries1 = pd.read_csv(path + 'train_queries_phase1.csv', parse_dates=['req_time'])
train_plans1   = pd.read_csv(path + 'train_plans_phase1.csv', parse_dates=['plan_time'])
train_clicks1  = pd.read_csv(path + 'train_clicks_phase1.csv')

train_queries2 = pd.read_csv(path + 'train_queries_phase2.csv', parse_dates=['req_time'])
train_plans2   = pd.read_csv(path + 'train_plans_phase2.csv', parse_dates=['plan_time'])
train_clicks2  = pd.read_csv(path + 'train_clicks_phase2.csv')

profiles      = pd.read_csv(path + 'profiles.csv') 

test_queries  = pd.read_csv(path + 'test_queries.csv', parse_dates=['req_time'])
test_plans    = pd.read_csv(path + 'test_plans.csv', parse_dates=['plan_time'])

In [3]:
train_plans   = pd.concat([train_plans1, train_plans2],axis=0,ignore_index=True)
train_queries = pd.concat([train_queries1, train_queries2],axis=0,ignore_index=True)
train_clicks  = pd.concat([train_clicks1, train_clicks2],axis=0,ignore_index=True)

# Basic data set information analysis
## train_plans data set
### Basic information
1. train_plans data set has 44.4M+ data;
2. Including 1 datetime64 feature(plan_time), 1 object feature(plans) and 1 int64 feature(sid);
3. train_plans data set has 1938572 recordsï¼›

In [4]:
train_plans.head()

,sid,plan_time,plans
0,149233,2018-10-01 13:02:01,"[{""distance"": 2100, ""price"": 300, ""eta"": 1064,..."
1,337156,2018-11-23 10:48:25,"[{""distance"": 8887, ""price"": 400, ""eta"": 1631,..."
2,398930,2018-11-08 12:23:06,"[{""distance"": 8471, ""price"": 2300, ""eta"": 1284..."
3,196610,2018-11-27 12:11:59,"[{""distance"": 32405, ""price"": 2500, ""eta"": 477..."
4,302267,2018-10-18 17:22:19,"[{""distance"": 38511, ""price"": 700, ""eta"": 4715..."

In [5]:
train_plans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1938572 entries, 0 to 1938571
Data columns (total 3 columns):
sid          int64
plan_time    datetime64[ns]
plans        object
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 44.4+ MB

In [6]:
train_plans.shape

(1938572, 3)

### Missing data analysis
- There is no missing data in train_plans data set.

In [7]:
train_plans.isnull().sum()

sid          0
plan_time    0
plans        0
dtype: int64

### Nunique of each feature
1. sid:1938572 different values
2. plan_time: 1483606 different values
3. plans:1929875 different values

In [8]:
train_plans.nunique()

sid          1938572
plan_time    1483606
plans        1929875
dtype: int64

## train_queries data set
### Basic information

1. train_queries data set has 76.3+M data;
2. train_queries data set has 1 datetime64 feature(req_time), 2 object features(o,d), 1 int64 feature(sid) and 1 float64 feature(pid);
3. train_queries data set has 2000000 recordsï¼›

In [9]:
train_queries.head()

      sid      pid            req_time             o             d
0  419087  22813.0 2018-10-17 10:17:11  116.34,39.99  116.37,39.86
1  481938      NaN 2018-10-13 15:50:15  116.43,39.94  116.46,39.95
2  441201  34393.0 2018-10-13 16:15:21  116.28,40.01  116.39,39.99
3  347266      NaN 2018-10-22 13:26:04  116.31,39.51  116.32,39.72
4  206269      NaN 2018-11-08 10:27:23  116.33,39.89  116.59,39.76

In [10]:
train_queries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 5 columns):
sid         int64
pid         float64
req_time    datetime64[ns]
o           object
d           object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 76.3+ MB

In [11]:
train_queries.shape

(2000000, 5)

### Missing data analysis
- pid has 676803 missing values, occupies 33.84%.

In [13]:
train_queries.isnull().sum()

sid              0
pid         676803
req_time         0
o                0
d                0
dtype: int64

In [14]:
train_queries['pid'].isnull().sum() / train_queries.shape[0]

0.3384015

### Nunique of each feature
1. sid:2000000 different values
2. pid: 97371 different values
3. req_time:1524599 different values 
4. o:14807 different values 
5. d:13445 different values

In [15]:
train_queries.nunique()

sid         2000000
pid           97371
req_time    1524599
o             14807
d             13445
dtype: int64

## train_clicks data set
### Basic information

1. train_clicks data set has 38.3+M data;
2. train_clicks data set has  1 object features(click_time) and 1 int64 feature(sid,click_mode);
3. train_clicks data set has 1675183 recordsï¼›

In [16]:
train_clicks.head()

      sid           click_time  click_mode
0  175043  2018-10-14 10:35:07           7
1  414568  2018-10-20 04:18:48           2
2  314669  2018-10-26 16:53:04           2
3  117837  2018-10-03 18:48:02           7
4  474691  2018-11-01 15:59:01           2

In [17]:
train_clicks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1675183 entries, 0 to 1675182
Data columns (total 3 columns):
sid           1675183 non-null int64
click_time    1675183 non-null object
click_mode    1675183 non-null int64
dtypes: int64(2), object(1)
memory usage: 38.3+ MB

In [18]:
train_clicks.shape

(1675183, 3)

### Missing data analysis
- There is no missing data in train_plans data set.

In [19]:
train_clicks.isnull().sum()

sid           0
click_time    0
click_mode    0
dtype: int64

### Nunique of each feature
1. sid:1675183 different values
2. click_time: 1316204 different values
3. click_mode:11 different values

In [20]:
train_clicks.nunique()

sid           1675183
click_time    1316204
click_mode         11
dtype: int64

## profiles data set
### Basic information

1. profiles data set has 61.3MB data;
2. profiles data set has  1 int features(pid) and 66 int64 feature(p0 - p65);
3. profiles data set has 119856 recordsï¼›

In [21]:
profiles.head()

,pid,p0,p1,p2,p3,p4,p5,p6,p7,p8,...,p56,p57,p58,p59,p60,p61,p62,p63,p64,p65
0,20555,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,42213,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,29526,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,117756,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,185606,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [22]:
profiles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119856 entries, 0 to 119855
Data columns (total 67 columns):
pid    119856 non-null int64
p0     119856 non-null float64
p1     119856 non-null float64
p2     119856 non-null float64
p3     119856 non-null float64
p4     119856 non-null float64
p5     119856 non-null float64
p6     119856 non-null float64
p7     119856 non-null float64
p8     119856 non-null float64
p9     119856 non-null float64
p10    119856 non-null float64
p11    119856 non-null float64
p12    119856 non-null float64
p13    119856 non-null float64
p14    119856 non-null float64
p15    119856 non-null float64
p16    119856 non-null float64
p17    119856 non-null float64
p18    119856 non-null float64
p19    119856 non-null float64
p20    119856 non-null float64
p21    119856 non-null float64
p22    119856 non-null float64
p23    119856 non-null float64
p24    119856 non-null float64
p25    119856 non-null float64
p26    119856 non-null float64
p27    119856 non-null float64
p28    119856 non-null float64
p29    119856 non-null float64
p30    119856 non-null float64
p31    119856 non-null float64
p32    119856 non-null float64
p33    119856 non-null float64
p34    119856 non-null float64
p35    119856 non-null float64
p36    119856 non-null float64
p37    119856 non-null float64
p38    119856 non-null float64
p39    119856 non-null float64
p40    119856 non-null float64
p41    119856 non-null float64
p42    119856 non-null float64
p43    119856 non-null float64
p44    119856 non-null float64
p45    119856 non-null float64
p46    119856 non-null float64
p47    119856 non-null float64
p48    119856 non-null float64
p49    119856 non-null float64
p50    119856 non-null float64
p51    119856 non-null float64
p52    119856 non-null float64
p53    119856 non-null float64
p54    119856 non-null float64
p55    119856 non-null float64
p56    119856 non-null float64
p57    119856 non-null float64
p58    119856 non-null float64
p59    119856 non-null float64
p60    119856 non-null float64
p61    119856 non-null float64
p62    119856 non-null float64
p63    119856 non-null float64
p64    119856 non-null float64
p65    119856 non-null float64
dtypes: float64(66), int64(1)
memory usage: 61.3 MB

In [23]:
profiles.shape

(119856, 67)

### Missing data analysis
- There is no missing data in profiles data set.

In [24]:
profiles.isnull().sum()

pid    0
p0     0
p1     0
p2     0
p3     0
p4     0
p5     0
p6     0
p7     0
p8     0
p9     0
p10    0
p11    0
p12    0
p13    0
p14    0
p15    0
p16    0
p17    0
p18    0
p19    0
p20    0
p21    0
p22    0
p23    0
p24    0
p25    0
p26    0
p27    0
p28    0
      ..
p36    0
p37    0
p38    0
p39    0
p40    0
p41    0
p42    0
p43    0
p44    0
p45    0
p46    0
p47    0
p48    0
p49    0
p50    0
p51    0
p52    0
p53    0
p54    0
p55    0
p56    0
p57    0
p58    0
p59    0
p60    0
p61    0
p62    0
p63    0
p64    0
p65    0
Length: 67, dtype: int64

### Nunique of each feature
1. pid:119856 different values
2. p0-p65: 2 different values

In [25]:
profiles.nunique()

pid    119856
p0          2
p1          2
p2          2
p3          2
p4          2
p5          2
p6          2
p7          2
p8          2
p9          2
p10         2
p11         2
p12         2
p13         2
p14         2
p15         2
p16         2
p17         2
p18         2
p19         2
p20         2
p21         2
p22         2
p23         2
p24         2
p25         2
p26         2
p27         2
p28         2
        ...
p36         2
p37         2
p38         2
p39         2
p40         2
p41         2
p42         2
p43         2
p44         2
p45         2
p46         2
p47         2
p48         2
p49         2
p50         2
p51         2
p52         2
p53         2
p54         2
p55         2
p56         2
p57         2
p58         2
p59         2
p60         2
p61         2
p62         2
p63         2
p64         2
p65         2
Length: 67, dtype: int64

# Conclusion
- In this notebook, we provide basic data  infomation analysis of four dataset.